
<div style="text-align:center">
  <h2 class="">Hello World!</h2>
  <p [id]="sayHelloId" [style.color]="fontColor">You can set my color in the component!</p>
  <button (click)="sayMessage()" [disabled]="canClick">Trigger alert message</button>
  <router-outlet></router-outlet>
  <button type="button" class="btn btn-primary">Primary</button>

  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Favorite food</mat-label>
      <input matInput placeholder="Ex. Pizza" value="Sushi">
    </mat-form-field>
  
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
  </form>
</div>